@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@tailwind utilities;
@import "aos/dist/aos.css";

@theme {
  --font-family: 'Plus Jakarta Sans', system-ui, sans-serif;

  --color-primary-10: #4361EE;
  --color-primary-20: #3F37C9;
  --color-primary-30: #4CC9F0;
  --color-primary-40: #A7C7E7;
  --color-secondary-10: #3A5A40;
  --color-secondary-20: #588157;
  --color-grey: #F8F9FA;
  --color-heading: #1D1D1D;
  --color-body: #2E2E2E;
  --color-accent: #505050;
}

@layer utilities {
  .bg-gradient-radial {
    background-image: radial-gradient(circle, var(--tw-gradient-stops));
  }
  
  .bg-gradient-radial-at-t {
    background-image: radial-gradient(circle at top, var(--tw-gradient-stops));
  }
  
  .bg-gradient-radial-at-b {
    background-image: radial-gradient(circle at bottom, var(--tw-gradient-stops));
  }
  
  .bg-gradient-radial-at-l {
    background-image: radial-gradient(circle at left, var(--tw-gradient-stops));
  }
  
  .bg-gradient-radial-at-r {
    background-image: radial-gradient(circle at right, var(--tw-gradient-stops));
  }
  
  .bg-gradient-radial-at-tl {
    background-image: radial-gradient(circle at top left, var(--tw-gradient-stops));
  }
  
  .bg-gradient-radial-at-tr {
    background-image: radial-gradient(circle at top right, var(--tw-gradient-stops));
  }
  
  .bg-gradient-radial-at-bl {
    background-image: radial-gradient(circle at bottom left, var(--tw-gradient-stops));
  }
  
  .bg-gradient-radial-at-br {
    background-image: radial-gradient(circle at bottom right, var(--tw-gradient-stops));
  }
}

@layer base {
  html {
    font-family: theme(--font-family);
  }
}

/* From Uiverse.io by Yaya12085 */ 
.playstore-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 1);
  padding: 0.625rem 1.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  outline: 0;
  transition: all  .2s ease;
  text-decoration: none;
}

.playstore-button:hover {
  background-color: transparent;
  color: rgba(0, 0, 0, 1);
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
}

.texts {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
}

.text-1 {
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-2 {
  font-weight: 600;
}
html {
  scroll-behavior: smooth;
}

